name: "JFrog-GitHub NPM Publish OIDC Integration"
on: push

# This is required as pe
# https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-cloud-providers#adding-permissions-settings
permissions:
  id-token: write
  contents: read 

jobs:
  build:
     runs-on: ubuntu-latest
     env:
      OIDC_AUDIENCE: 'jfrog-github'
      PLATFORM_REPO: 'sand-npm'
      
     steps:
       - name: Logs
         run: |
          printenv

       - name: Setup JFrog CLI
         uses: jfrog/setup-jfrog-cli@v4
         env:  
           JF_URL: ${{ secrets.JF_URL }}
         with:
           oidc-provider-name: san-git-intergation
           oidc-audience: jfrog-github
           
       - name: Download
         uses: actions/checkout@v4
         
       - name: Publish
         run: jf rt u README.md sand-npm

